# <center style='font-weight:bold;font-family:serif'> Entrainement à la programmation en Python </center>

----
----
## I ) Mettre de l'ordre dans ses calculs.

###  <span style='color:red'> Procédons étape par étape. </span>

Calculez et affichez le carré de $64$, le triple de $27$, le tiers de $81$, la différence de $1024$ et $512$, le quotient et le reste de la division euclidienne de $87$ par $6$. Stockez tous ces résultats dans une liste nommée ``calculs``.

In [1]:
calculs = [64**2,27*3,81/3,1024-512,87//6,87%6]
for result in calculs:
    print(result)

4096
81
27.0
512
14
3

Affichez la somme cummulée de tous ces résultats (cela devrait faire $4733.0$).

In [2]:
s = 0
for res in calculs:
    s+= res
print(s)

4733.0

Copiez ``calculs`` dans une autre liste nommée ``calcs_copy``, et ordonnez cette nouvelle liste.

<span style='font-size : 9pt'>*Hint* :  si vous ne savez pas comment copier une liste, faite ``help(list)`` et regardez les fonctions déjà implémentées sur les listes , ou bien regardez sur internet.</span>

In [3]:
calcs_copy = calculs.copy()
calcs_copy.sort()
print(calcs_copy)

[3, 14, 27.0, 81, 512, 4096]

Vous avez ordonné `calcs_copy`, mais `calculs` ne devrait pas être changée. Vérifiez cela en affichant `calculs`. Si ce n'est pas le cas, réexécutez la première cellule de code que vous avez fait dans cet exercice (celle où vous initialisez `calculs`).

In [4]:
print(calculs)

[4096, 81, 27.0, 512, 14, 3]

Inversez l'ordre de cette liste, pour avoir  désormais les résultats par ordre décroissant.

<span style='font-size:9pt'> ATTENTION : Si vous relancez la cellule de code plusieurs fois, vous risquez de renverser une liste que vous avez déjà renversé, donc la remettre dans son état initial. Veillez bien à ce que votre liste soit bien par ordre décroissant avant de passer à la suite. N'hésitez pas à l'afficher.</span>

<span style='font-size:9pt'> *Hint* : si vous ne savez pas comment renverser simplement une liste, regardez à nouveau dans `help(list)`.</span>

In [5]:
calcs_copy.reverse()
print(calcs_copy)

[4096, 512, 81, 27.0, 14, 3]

Dans cette liste ``calcs_copy``, remplacez chaque élément par sa conversion en chaine de caractère.

In [6]:
for i in range(len(calcs_copy)):
    calcs_copy[i] = str(calcs_copy[i])

print(calcs_copy)

['4096', '512', '81', '27.0', '14', '3']

En utilisant la fonction <a href='https://www.w3schools.com/python/ref_string_join.asp'>*str*.join(...)</a> (cliquez sur le lien pour la documentation), affichez tous les éléments de cette liste par ordre décroissant, séparé par des "$>$".

In [7]:
print(' > '.join(calcs_copy))

4096 > 512 > 81 > 27.0 > 14 > 3

### <span style='color:red'>  Regroupons tout cela dans une fonction ! </span>

**Ecrivez une fonction `ordonner` qui prend en argument une liste de nombres (les résultats de calculs, par exemple), et calculera une copie de cette liste rangée dans l'ordre décroissant.** 

La fonction prendra un deuxième argument, `display`, qui sera un **booléen**. Si ce booléen est à `True`, la fonction *ne renverra rien* mais **affichera** les éléments de la liste rangée, séparé par des "$>$". Si le booléen est à `False`, la fonction *n'affichera rien* mais devra **renvoyer** la liste rangée par ordre décroissant.

Essayez avec ```[ 15.3 , 6 , 100 , 55.7 , 23 ]```.

In [8]:
def ordonner(l : list, display : bool):
    '''
    Renvoie une copie rangée par ordre décroissant d'une liste de nombres. 
    Si display==True, ne renvoie rien mais affiche la liste avec des ">".
    -------------
    Paramètres :
    l (list) : la liste de nombres
    display (bool) : si True, affiche la liste ordonnée au lieu de la renvoyer.
    '''
    l2 = l.copy()
    l2.sort()
    l2.reverse()
    if display:
        #Il faut convertir les nombres en str avant de les afficher
        for i in range(len(l2)):
            l2[i] = str(l2[i])
        print(">".join(l2))
    else:
        return l2

ordonner([ 15.3 , 6 , 100 , 55.7 , 23 ],False)

[100, 55.7, 23, 15.3, 6]

-----
-----
## II ) Listes en chaine, chaines en liste

### <span style='color:red'> Mon beau miroir </span>

Affichez l'envers d'une chaine de caractère (ex: *riorim uaeb nom* au lieu de *mon beau miroir*).

In [9]:
chaine = "mon beau miroir"

#solution1
chaine_modif = ''
for car in chaine:
    chaine_modif = car + chaine_modif
print(chaine_modif)

#solution2
chaine_modif = ''
for i in range(len(chaine)-1,-1,-1):
    chaine_modif += chaine[i]
print(chaine_modif)

#solution3
chaine_modif = ''
for i in range(len(chaine)):
    chaine_modif += chaine[-i-1]
print(chaine_modif)

riorim uaeb nom
riorim uaeb nom
riorim uaeb nom

Même exercice, mais en utilisant, si ce n'était pas déjà le cas, la méthode ``join`` (cf. plus haut) permettant de joindre dans une `str` les éléments d'une liste.

<span style='font-size:9pt'> *Hint* : appliquer l'opérateur `list()` sur une chaine de caractère renvoie la liste de caractères individuels.</span>

<span style='font-size:9pt'> *Hint 2* : Comme vu précédemment, il est facile de renverser l'ordre d'une liste...</span>

In [10]:
l = list(chaine)
l.reverse()
print(''.join(l))

riorim uaeb nom

### <span style='color:red'> Listes par compréhension </span>

Créez une liste `carre` contenant le carré des 100 premiers nombres entiers naturels (de 0 à 99).

In [11]:
carre = []
for i in range(100):
    carre.append(i**2)
print(carre)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

La métode explicite pour construire une liste est ```l=[a,b,..]```, mais cela n'est réalisable que si on connait *explicitement* à l'avance la valeur des éléments de la liste et leur nombre.

On peut aussi vouloir construire une liste *itérativement*, en initialisant une liste vide puis en utilisant une boucle `for` et la méthode `append` dans celle ci. C'est surement ce que vous avez fait précédemment.

Mais ça n'est pas la seule façon de faire, ni la plus optimale. En réalité, on peut intégrer une boucle `for` directement dans la création de la liste. Cela s'appelle une *liste par compréhension*. Démonstration :

In [12]:
# Plutot que d'écrire :
l = []
l2 = []
for i in range(10):
    l.append(i)
for i in range(4):
    l2.append('a'*i)

print(l,l2)

# On peut faire, par compréhension :
l_comprehension = [ i for i in range(10) ]
l2_comprehension = [ 'a'*i for i in range(4) ] #C'EST BEAUCOUP PLUS RAPIDE A ECRIRE !!!!

print(l_comprehension,l2_comprehension)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] ['', 'a', 'aa', 'aaa']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] ['', 'a', 'aa', 'aaa']

En utilisant les listes par compréhension, créez une liste `carre_comp` contenant le carré des 100 premiers entiers naturels (de 0 à 99).

In [13]:
carre_comp = [i**2 for i in range(100)]
print(carre_comp)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

Ecrivez une fonction ```table_prod``` qui prend en argument deux listes et qui renvoie un tableau (une liste de listes) contenant le produit deux à deux des éléments des deux listes (i.e. `table_prod( [a,b] , [c,d] )` -> `[[ac,ad] , [bc,bd]]` ). Essayez de le faire en une seule ligne à l'intérieur de la fonction.

<span style='font-size:9pt'> *Hint* : On peut imbriquer les listes par compréhension, comme on imbriquerait des boucles FOR.</span>

In [17]:
def table_prod(l1 : list,l2 : list):
    '''
    Renvoie un tableau contenant le produit deux à deux des éléments de deux listes l1 et l2.
    '''
    return [[i*j for j in l2] for i in l1]

table_prod([1,2],[3,4])

[[3, 4], [6, 8]]

Ecrire une fonction `table_sum` identique à `table_prod` sauf qu'elle calcule la somme au lieu du produit des éléments (i.e. `table_prod( [a,b] , [c,d] )` -> `[[a+c,a+d] , [b+c,b+d]]` ).

In [32]:
def table_sum(l1 : list,l2 : list):
    '''
    Renvoie un tableau contenant la somme deux à deux des éléments de deux listes l1 et l2.
    '''
    return [[i+j for j in l2] for i in l1]

table_sum([1,2],[3,4])

[[4, 5], [5, 6]]

----
----
## III ) Création et utilisation des dictionnaires

### <span style='color:red'> Une base de données sur les étudiants </span>

Voici un tableau contenant le nom, le prénom, l'âge, le numéro étudiant, la section et l'année d'inscription de quelques étudiant-e-s.

| prenom | nom | age | numero | section | inscription |
|-|-|-|-|-|-|
| victor | hugo | 24 | 07.555.42 | L3 lettres modernes | 2018 |
| ada | lovelace | 26 | 06.555.64 | M2 informatique | 2018 |
| marcus | cicero | 28 | 06.555.21 | M2 lettres classiques | 2016 |
| marie | curie | 21 | 07.555.38 | M1 physique | 2018 |
| emilie | du chatelet | 20 | 06.555.42 | L1 physique | 2020 |
| charles | darwin | 22 | 07.555.32 |L2 biologie | 2020 |




L'objectif est de présenter ce tableau sous la forme d'une liste de dictionnaires, où chaque dictionnaire représente une étudiante ou un étudiant contenant ses informations. Les entêtes de colonne seront les clés. Chaque valeur sera une chaine de caractère.

Pour cela, considerez le texte suivant dans la chaine de caractère `str_base`. Elle contient le contenu de ce tableau. Affichez la.

In [21]:
str_base = "prenom | nom | age | numero | section | inscription\nvictor | hugo | 24 | 07.555.42 | L3 lettres modernes | 2018\nada | lovelace | 26 | 06.555.64 | M2 informatique | 2018\nmarcus | cicero | 28 | 06.555.21 | M2 lettres classiques | 2016\nmarie | curie | 21 | 07.555.38 | M1 physique | 2018\nemilie | du chatelet | 20 | 06.555.42 | L1 physique | 2020\ncharles | darwin | 22 | 07.555.32 | L2 biologie | 2020"

print(str_base)

prenom | nom | age | numero | section | inscription
victor | hugo | 24 | 07.555.42 | L3 lettres modernes | 2018
ada | lovelace | 26 | 06.555.64 | M2 informatique | 2018
marcus | cicero | 28 | 06.555.21 | M2 lettres classiques | 2016
marie | curie | 21 | 07.555.38 | M1 physique | 2018
emilie | du chatelet | 20 | 06.555.42 | L1 physique | 2020
charles | darwin | 22 | 07.555.32 | L2 biologie | 2020

Vous pouvez observer que la chaine de caractère est découpée en ligne grace à un symbole. Lequel ?

A l'aide de la fonction <a href='https://www.w3schools.com/python/ref_string_split.asp'>*str*.split(...)</a>, découpez la chaine en une liste de ses lignes et stockez cela dans `list_base`. Affichez la.

In [22]:
list_base = str_base.split('\n')
list_base

['prenom | nom | age | numero | section | inscription',
 'victor | hugo | 24 | 07.555.42 | L3 lettres modernes | 2018',
 'ada | lovelace | 26 | 06.555.64 | M2 informatique | 2018',
 'marcus | cicero | 28 | 06.555.21 | M2 lettres classiques | 2016',
 'marie | curie | 21 | 07.555.38 | M1 physique | 2018',
 'emilie | du chatelet | 20 | 06.555.42 | L1 physique | 2020',
 'charles | darwin | 22 | 07.555.32 | L2 biologie | 2020']

A l'aide de la méthode <a href='https://www.w3schools.com/python/ref_list_pop.asp'>*list*.pop(...)</a>, récuperez la *première ligne* du texte en la retirant de `list_base`, et stockez la dans une variable `str_headers` pour ne pas la perdre.

In [23]:
str_headers = list_base.pop(0)

Encore à l'aide de la fonction `split`, découpez cette ligne pour obtenir une liste contenant les titres de chaque colone. Stockez ces entêtes dans une liste `headers`. Affichez la.

In [24]:
headers = str_headers.split('|')
print(headers)

['prenom ', ' nom ', ' age ', ' numero ', ' section ', ' inscription']

Vous remarquerez que certaines entêtes contiennent encore des espaces résiduels au début ou à la fin de leur chaine de caractère. En itérant sur la liste, remplacez chacune des chaines par sa version "propre", sans les espaces. Pour cela, utilisez la fonction <a href='https://www.w3schools.com/python/ref_string_strip.asp'>*str*.strip()</a>. Affichez à nouveau `headers` pour vérifier que le changement est effectué.

In [25]:
headers = [string.strip() for string in headers]
print(headers)

['prenom', 'nom', 'age', 'numero', 'section', 'inscription']

En vous inspirant de ce processus, créez une fonction `split_and_strip` qui prendra en argument une chaine de caractère `string` et un caractère de séparation `sep`. Cette fonction coupera votre chaine de caractère à chaque `sep` et renverra la liste de la découpe après avoir nettoyé chacun de ses éléments de ses espaces inutiles.

*Ex:* 

```python
split_and_strip(string=' a ,b , c',sep=',') 
>>> ['a','b','c']
```

In [26]:
def split_and_strip(string,sep):
    l = string.split(sep)
    l = [s.strip() for s in l]
    return l

split_and_strip(string=' a ,b , c',sep=',')

['a', 'b', 'c']

Affichez cote à cote chaque catégorie d'information (obtenue dans `headers`) et sa valeur pour le premier étudiant (en utilisant `split_and_strip` sur la première ligne de `list_base`). 

Vous devez obtenir quelque chose comme :
```
prenom : victor
nom : hugo
age : 24
...
```

Attention, ne sortez pas cette ligne de la liste (n'utilisez pas ```pop```)!


<span style='font-size:9pt'> *Hint* : A la *i*-ème catégorie dans `headers` est associée le *i*-ème élément dans la liste que vous obtiendrez avec `split_and_strip`... Utilisez une seule boucle pour parcourir en parallèle les 2 listes !</span>

In [27]:
l = split_and_strip(list_base[0],sep='|')
for i in range(len(headers)):
    print(headers[i],':',l[i])

prenom : victor
nom : hugo
age : 24
numero : 07.555.42
section : L3 lettres modernes
inscription : 2018

Même question mais, plutôt que de les afficher directement, créer ces associations dans un dictionnaire que vous afficherez ensuite. Vous obtiendrez quelque chose comme
```
{'prenom':'victor','nom':'hugo','age':'24',...}
```

<span style='font-size:9pt'> *Hint* : Utilisez <span style='color:rgb(50,150,255)'>dict[key]=value</span>. </span>

In [28]:
l = split_and_strip(list_base[0],sep='|')
d = dict()
for i in range(len(headers)):
    d[headers[i]]=l[i]
print(d)

{'prenom': 'victor', 'nom': 'hugo', 'age': '24', 'numero': '07.555.42', 'section': 'L3 lettres modernes', 'inscription': '2018'}

En utilisant cette méthode, construisez une liste contenant un tel dictionnaire pour chaque étudiant. Stockez cette liste dans `etudiants`.

In [49]:
etudiants = []
for i in range(len(list_base)):
    l = split_and_strip(list_base[i],sep='|')
    d = dict()
    for j in range(len(headers)):
        d[headers[j]]=l[j]
    etudiants.append(d)

etudiants

[{'prenom': 'victor',
  'nom': 'hugo',
  'age': '24',
  'numero': '07.555.42',
  'section': 'L3 lettres modernes',
  'inscription': '2018'},
 {'prenom': 'ada',
  'nom': 'lovelace',
  'age': '26',
  'numero': '06.555.64',
  'section': 'M2 informatique',
  'inscription': '2018'},
 {'prenom': 'marcus',
  'nom': 'cicero',
  'age': '28',
  'numero': '06.555.21',
  'section': 'M2 lettres classiques',
  'inscription': '2016'},
 {'prenom': 'marie',
  'nom': 'curie',
  'age': '21',
  'numero': '07.555.38',
  'section': 'M1 physique',
  'inscription': '2018'},
 {'prenom': 'emilie',
  'nom': 'du chatelet',
  'age': '20',
  'numero': '06.555.42',
  'section': 'L1 physique',
  'inscription': '2020'},
 {'prenom': 'charles',
  'nom': 'darwin',
  'age': '22',
  'numero': '07.555.32',
  'section': 'L2 biologie',
  'inscription': '2020'}]

### <span style='color:red'> Etudions les étudiants </span>

Utilisez cette liste `etudiants` pour répondre aux questions suivantes. Ne calculez pas les réponses manuellement.

Combien y a t-il d'étudiant.e.s ?

In [30]:
len(etudiants)

6

Calculez l'âge moyen des étudiant-e-s. En utilisant <a href="https://docs.python.org/fr/3.7/library/functions.html?highlight=round#round">round() </a>, arrondissez à la 3e décimale.

In [31]:
s = 0
for etud in etudiants:
    s += int(etud['age'])
round(s/len(etudiants),3)

23.5

Combien d'étudiant-e-s sont en licence ?

In [32]:
n = 0
for etud in etudiants:
    if etud['section'][0]=='L':
        n+=1
n

3

En utilisant l'opérateur booléen `in` sur les séquences (chaines de caractère ou listes), comptez le nombre d'étudiant-e-s en physique.

<span style='font-size:9pt'>*Hint*: Vous pouvez vérifiez la documentation des <a href="https://www.w3schools.com/python/python_operators.asp">operateurs python</a>, dans la section "membership operators".</span>

In [33]:
n = 0
for etud in etudiants:
    if 'physique' in etud['section']:
        n+=1
n

2

Quel pourcentage des d'étudiant-e-s se sont inscrit-e-s avant 2019 ?

In [38]:
n = 0
for etud in etudiants:
    if 2019>int(etud['inscription']):
        n+=1
print(f"{round(n/len(etudiants)*100,2)}%")

66.67%

Sachant que nous sommes en 2022, affichez le prénom et le nom de l'étudiant-e qui s'est inscrit-e avant ses 18ans ?

In [34]:
minor = None
for etud in etudiants:
    if int(etud['age'])-2022+int(etud['inscription'])<18:
        minor = etud
print(minor['prenom'],minor['nom'])

marie curie

Parmi les étudiant-e-s inscrit-e-s en 2018, quel pourcentage a un numéro commençant par 07 ?

In [39]:
n_2018 = 0
n_2018_07 = 0
for etud in etudiants:
    if int(etud['inscription'])==2018:
        n_2018+=1
        if etud['numero'][:2]=='07':
            n_2018_07+=1
print(f"{round(n_2018_07/n_2018*100,2)}%")

66.67%

<a id='another_cell'></a>
**[Plus difficile]** Faisons un bond dans le temps. C'est une nouvelle année qui commence, et les données doivent être mise à jour.
Copiez la liste `etudiants` dans une liste `new_etudiants`. modifiez les dictionnaires dans cette liste de sorte que:
- chaque étudiant-e prenne 1 an d'âge.
- Les étudiant-e-s en L1 passent en L2, celleux en L2 en L3, L3 en M1, M1 en M2, M2 en PhD... sauf Charles Darwin, qui redouble sa L2.
- Marcus Cicero ne fera pas de PhD, retirez le de la liste `etudiants`.

Affichez la liste `new_etudiants`.

In [50]:
new_etudiants = [etud.copy() for etud in etudiants]

#age +1 et section +1
for etud in new_etudiants:
    #age +1
    etud['age'] = str(int(etud['age'])+1)

    #section +1 sauf Darwin
    if not(etud['prenom']=='charles' and etud['nom']=='darwin'):
        #Ce n'est pas Darwin
        section = etud['section']
        niveau = section[:2] #on sépare les 2 premiers caracteres du reste.
        rest = section[2:]
        if niveau=='M2':
            #première exception : le M2 devient PhD
            niveau = 'PhD'
        elif niveau=='L3':
            #deuxieme exception : L3 devient M1
            niveau = 'M1'
        else:
            #dans les autres cas, on augmente seulement le chiffre de 1. La lettre reste la meme.
            niveau = niveau[0] + str(int(niveau[1])+1)
        
        #On actualise
        etud['section']=niveau+rest

#retirer Cicero de la liste

index_a_retirer = 0
for i in range(len(new_etudiants)):
    if new_etudiants[i]['nom']=='cicero' and new_etudiants[i]['prenom']=='marcus':
        index_a_retirer = i
        #On ne le retire pas tout de suite !
        #Sinon la fin de la boucle FOR renverra une erreur car
        #la taille de la liste aura diminué, 
        #mais notre iterateur ira jusqu'a l'ancienne taille !

new_etudiants.pop(i)

print(new_etudiants)

[{'prenom': 'victor', 'nom': 'hugo', 'age': '25', 'numero': '07.555.42', 'section': 'M1 lettres modernes', 'inscription': '2018'}, {'prenom': 'ada', 'nom': 'lovelace', 'age': '27', 'numero': '06.555.64', 'section': 'PhD informatique', 'inscription': '2018'}, {'prenom': 'marcus', 'nom': 'cicero', 'age': '29', 'numero': '06.555.21', 'section': 'PhD lettres classiques', 'inscription': '2016'}, {'prenom': 'marie', 'nom': 'curie', 'age': '22', 'numero': '07.555.38', 'section': 'M2 physique', 'inscription': '2018'}, {'prenom': 'emilie', 'nom': 'du chatelet', 'age': '21', 'numero': '06.555.42', 'section': 'L2 physique', 'inscription': '2020'}]

**[Plus difficile]** Vérifions que vous avez copié correctement `etudiants` et que vous ne l'avez pas modifié directement. Affichez la. Charles Darwin devrait toujours être dedans, et **Victor Hugo devrait avoir 24 ans**. Si ça n'est pas le cas, alors vous n'avez pas fait les choses correctement au début de la cellule précédente, et vous devrez relancer la cellule de code à la fin de la section [Une base de données sur les étudiants](#span-stylecolorred-une-base-de-donn%C3%A9es-sur-les-%C3%A9tudiants-span).

<span style='font-size:9pt'>*Hint* : Si Darwin est toujours dedans mais que Victor Hugo a 25ans au lieu de 24, c'est probablement que vous avez fait `new_etudiants=etudiants.copy()`. Rappelez vous que les listes sont mutables, mais les dictionnaires aussi ! `etudiants` ne contient pas directement les dictionnaires, mais des *pointeurs* vers ces dictionnaires dans la mémoire. En copiant simplement `etudiants` comme cela, vous ne copiez pas les dictionnaires, vous ne copiez que les pointeurs ! Au lieu de créer une *copie de la liste* des dictionnaires, il faudrait créer une *liste des copies* des dictionnaires.
</span>

In [51]:
print(etudiants)

[{'prenom': 'victor', 'nom': 'hugo', 'age': '24', 'numero': '07.555.42', 'section': 'L3 lettres modernes', 'inscription': '2018'}, {'prenom': 'ada', 'nom': 'lovelace', 'age': '26', 'numero': '06.555.64', 'section': 'M2 informatique', 'inscription': '2018'}, {'prenom': 'marcus', 'nom': 'cicero', 'age': '28', 'numero': '06.555.21', 'section': 'M2 lettres classiques', 'inscription': '2016'}, {'prenom': 'marie', 'nom': 'curie', 'age': '21', 'numero': '07.555.38', 'section': 'M1 physique', 'inscription': '2018'}, {'prenom': 'emilie', 'nom': 'du chatelet', 'age': '20', 'numero': '06.555.42', 'section': 'L1 physique', 'inscription': '2020'}, {'prenom': 'charles', 'nom': 'darwin', 'age': '22', 'numero': '07.555.32', 'section': 'L2 biologie', 'inscription': '2020'}]

----
----
## Conclusion

Voilà qui conclut ce notebook d'entrainement sur les bases du python ! Si vous avez utilisé les *hints* et astuces, n'hésitez pas à le recommencer depuis le début sans vous servir des *hints* cette fois-ci. Ensuite, recommencez en vous chronometrant une première fois en le faisant à un rythme normal. Puis refaite ce notebook en essayant de battre votre temps précédent.

Si vous n'avez pas bien compris certaines notions, comme les listes par compréhensions par exemple, entrainez vous et regardez sur internet si cela peut vous aider. En refaisant ce notebook, essayer de créer vos listes en utilisant des compréhensions au lieu de boucle FOR lorsque c'est possible.